<h3>Todo List</h3>

@if (!todoItems().length) {
<!--control flow blocks-->
<p>Loading..</p>
}
<!-- <p *ngIf="!todoItems.length">Loading..</p>
This will be shown if the todoItems array is empty -->

<form>
  <label>Filter todos</label>
  <input name="searchTerm" [(ngModel)]="searchTerm" placeholder="Search..." />
</form>

<ul class="todos">
  @for (todo of todoItems() | filterTodos : searchTerm(); track todo.id) {
  <app-todo-item
    (todoToggled)="updateTodoItem($event)"
    [todo]="todo"
  ></app-todo-item>
  }
</ul>
